<div class="page-header">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#!/lists/create/" class="btn btn-default">
        Create list
      </a>
    </div>
  </div>
  <h1>All Lists</h1>
</div>
<div class="page-content">
  <div class="list-group">
    <div class="list-group-item text-center" ng-show="!events.lists">
      <p>
        There are no Lists to be shown, use the button below to add new lists.
      </p>
      <a href="#!/lists/create/" class="btn btn-primary">
        Click here to create lists
      </a>
    </div>
    <div class="list-group-item" ng-repeat="list in lists">
      <div class="btn-toolbar pull-right">
        <div class="btn-group" role="group" aria-label="...">
          <a href="#" class="btn btn-sm btn-default">Tasks</a>
          <a href="#" class="btn btn-sm btn-default">Update</a>
          <a href="#" class="btn btn-sm btn-default">Delete</a>
        </div>
      </div>
      <h3 class="list-group-item-heading">
        <a href="#">{{ list.title }}</a>
      </h3>
    </div>
  </div>
</div>